# Problema de Negócio

 - **Store**: ID da loja.
 - **StoreType**: Diferencia 4 modelos de loja.
 - **Assortment**: Tipos de sortimento.
 - **CompetitionDistance**: Distância em metros do competidor mais próximo.
 - **CompetitionOpenSinceMonth**: Fornece o mês aproximado em que o concorrente mais próximo foi aberto.
 - **CompetitionOpenSinceYear**: Fornece o ano aproximadoa em que o concorrente mais próximo foi aberto.
 - **Promo2**: 0 = a loja não está participando, 1 = a loja está participando.
 - **Promo2SinceWeek**: Descreve a semana do calendário em que a loja começou a participar da Promo2.
 - **Promo2SinceYear**: Descreve o ano em que a loja começou a participar da Promo2.

# 0.0 - Imports

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## 0.1 - Helper Functions

## 0.2 - Read Csv

In [2]:
df_sales_raw = pd.read_csv(r"C:\Users\Marco\Desktop\Data Science\Projetos Data Science\Rossman Project\Rossman\data\external\train.csv", low_memory=False)
df_store_raw = pd.read_csv(r"C:\Users\Marco\Desktop\Data Science\Projetos Data Science\Rossman Project\Rossman\data\external\store.csv")

df_raw = pd.merge(df_store_raw, df_sales_raw, how='left', on='Store')

In [7]:
df_raw.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,5,2015-07-31,5263,555,1,1,0,1
1,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,4,2015-07-30,5020,546,1,1,0,1
2,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,3,2015-07-29,4782,523,1,1,0,1
3,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2,2015-07-28,5011,560,1,1,0,1
4,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,1,2015-07-27,6102,612,1,1,0,1

# 1.0 - Descrição dos Dados

## 1.1 - Número de linhas e colunas

In [5]:
print ('Número de linhas desse dataset:', df_raw.shape[0])
print ('Número de colunas desse dataset:', df_raw.shape[1])

Número de linhas desse dataset: 1017209
Número de colunas desse dataset: 18

## 1.2 - Check NA

In [6]:
df_raw.isnull().sum()

Store                             0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
dtype: int64